        <footer class="b-footer">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <div class="b-footer__logo">
                            Insburg.ru<br />
                            Все права защишенны
                        </div>
                    </div>
                    <div class="span4">
                        <div class="b-footer__nav"><a href="text.html">О нас</a><a href="#">Контакты</a><a href="text.html">Правовая информация</a></div>
                    </div>
                    <div class="span4">
                        <div class="b-created">
                            <a class="b-created__imagelink" target="_blank" href="//mymediapro.ru"><img src="images/mmp-logo.png" alt="Мы делаем сайты"/></a>Сделано с любовью в <a target="_blank" href="//mymediapro.ru">MyMediaPro</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>