<div class="b-pagehead @@modclass">
    <div class="container">
        <div class="row">
            <div class="span5">
                <div class="b-breadcrumb">
                    <ul>
                        <li class="b-breadcrumb__item"><a class="b-breadcrumb__link" href="index.html">Главная</a></li>
                    </ul>
                </div>
                <h1 class="b-pagehead__title">@@title</h1>
            </div>
            <div class="span7">
                <div class="b-ins-menu">
                    <span class="b-ins-menu__title">Выберите тип страхования</span>
                    <div class="b-ins-menu__menu"><a class="b-ins-menu__link" href="calc1.html">КАСКО</a><a class="b-ins-menu__link current" href="calc_osago.html">ОСАГО</a><a class="b-ins-menu__link" href="#">КАСКО + ОСАГО</a></div>
                </div>
            </div>
        </div>
    </div>
</div>