<body>
<header class="b-header b-header_home">
    <div class="b-header__top">
        <div class="container">
            <div class="b-header__container">
                <a href="index.html" class="b-header__logo test">
                    <img src="images/headerlogo.png" alt="Insburg - Ваш страховой агент"/>
                </a>
                <div class="row">
                    <div class="span3">
                        Страховка за <span class="black">2 минуты</span>
                    </div>
                    <div class="span5">
                        Мы в социальных сетях: <a class="pr-social" href="#vk"></a><a class="pr-social pr-social_fb" href="#fb"></a><a
                            class="pr-social pr-social_tw" href="#twitter"></a>
                    </div>
                    <div class="span4 align-right">
                        Горячая линия: <span class="black">+7 (495) 123-456</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="b-header__bottom">
        <div class="container">
            <div class="b-header__container">
                <nav class="b-header__nav">
                    <a class="b-header__nav-link current" href="index.html">Главная</a><a class="b-header__nav-link" href="avtostraxf.html">Автострахование</a><a class="b-header__nav-link" href="catalog.html">Страховые компании</a>
                </nav>
            </div>
        </div>
    </div>
    <div class="b-promo">
        <div class="container">
            <div class="b-promo__content">
                <h1 class="b-promo__slogan">
                    <span class="name">КАСКО</span>что может быть проще!
                </h1>
                <p>Укажите параметры, марку автомобиля и получите доступ к полному списку предложений.</p>
                <div class="b-promo__calc">
                    <a class="pr-calcbtn" href="calc1.html">Рассчитать страховку</a>
                </div>
            </div>
        </div>
    </div>
</header>