<body class="body_inner">
<header class="b-header">
    <div class="b-header__top">
        <div class="container">
            <div class="b-header__container">
                <a href="index.html" class="b-header__logo test">
                    <img src="images/headerlogo.png" alt="Insburg - Ваш страховой агент"/>
                </a>
                <div class="row">
                    <div class="col-xs-3 col-sm-6 col-md-3 hidden-sm hidden-xs">
                        Страховка за <span class="black">2 минуты</span>
                    </div>
                    <div class="col-xs-5 hidden-sm hidden-xs">
                        Мы в социальных сетях: <a class="pr-social" href="#vk"></a><a class="pr-social pr-social_fb" href="#fb"></a><a
                        class="pr-social pr-social_tw" href="#twitter"></a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 align-right">
                        <span class="hidden-xs">Горячая линия: </span><span class="black">+7 (495) 123-456</span>
                    </div>
                </div>
            </div>
            <button class="b-header__nav-open"></button>
            <div class="b-header__mob-nav">
                <a class="b-header__mob-nav-link current" href="index.html">Главная</a>
                <a class="b-header__mob-nav-link" href="avtostraxf.html">Автострахование</a>
                <a class="b-header__mob-nav-link" href="catalog.html">Страховые компании</a>
            </div>
        </div>
    </div>
    <div class="b-header__bottom">
        <div class="container">
            <div class="b-header__container">
                <nav class="b-header__nav">
                    <a class="b-header__nav-link current" href="index.html">Главная</a><a class="b-header__nav-link" href="avtostraxf.html">Автострахование</a><a class="b-header__nav-link" href="catalog.html">Страховые компании</a>
                </nav>
            </div>
        </div>
    </div>
</header>