<body>
<header class="b-header b-header_lend">
    <div class="b-header__top">
        <div class="container">
            <div class="b-header__container">
                <a href="index.html" class="b-header__logo test">
                    <img src="images/headerlogo.png" alt="Insburg - Ваш страховой агент"/>
                </a>
                <div class="row">
                    <div class="col-xs-3 col-sm-6 col-md-3 hidden-xs">
                        Страховка за <span class="black">2 минуты</span>
                    </div>
                    <div class="col-xs-5 hidden-sm hidden-xs">
                        Мы в социальных сетях: <a class="pr-social" href="#vk"></a><a class="pr-social pr-social_fb" href="#fb"></a><a
                        class="pr-social pr-social_tw" href="#twitter"></a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 align-right">
                        <span class="hidden-xs">Горячая линия: </span><span class="black">+7 (495) 123-456</span>
                    </div>
                </div>
            </div>
            <button class="b-header__nav-open"></button>
            <div class="b-header__mob-nav">
                <a class="b-header__mob-nav-link current" href="index.html">Главная</a>
                <a class="b-header__mob-nav-link" href="avtostraxf.html">Автострахование</a>
                <a class="b-header__mob-nav-link" href="catalog.html">Страховые компании</a>
            </div>
        </div>
    </div>
    <div class="b-header__bottom">
        <div class="container">
            <div class="b-header__container">
                <nav class="b-header__nav">
                    <a class="b-header__nav-link current" href="index.html">Главная</a><a class="b-header__nav-link" href="avtostraxf.html">Автострахование</a><a class="b-header__nav-link" href="catalog.html">Страховые компании</a>
                </nav>
            </div>
        </div>
    </div>
    <div class="b-promo">
        <div class="container">
            <div class="b-promo__content b-promo__content_wide">
                <div class="b-promo__l-block">
                    <div class="b-promo__breadcrumb">
                        <ul>
                            <li class="b-promo__breadcrumb-item"><a href="index.html">Главная</a></li>
                            <li class="b-promo__breadcrumb-item">Автострахование</li>
                        </ul>
                    </div>
                    <div class="b-promo__l-block-text">
                        <span class="large">КАСКО</span>Выбирайте страховую компанию со знанием дела!
                    </div>
                </div>
                <div class="b-promo__calc">
                    <a class="pr-calcbtn pr-calcbtn_green" href="calc1.html">Рассчитать страховку</a>
                </div>
            </div>
        </div>
    </div>
</header>