@@include('blocks/_b-header.html')
@@include('blocks/_home-header.html')
<div class="b-features">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="b-features__item">
                    <h2>Экономия времени</h2>
                    <p>С нами вы сэкономите время на посещение страховых компаний и сбор информации</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="b-features__item i2">
                    <h2>Лучшие условия</h2>
                    <p>Вы сможете выбрать лучшие условия страхования за меньшие деньги</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="b-features__item i3">
                    <h2>Способы оплаты</h2>
                    <p>Вы легко проведете обзор цен автомобильных страховок для различных марок и моделей автомобилей.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="b-features__item i4">
                    <h2>Доставка договоров</h2>
                    <p>Мы бесплатно доставим страховой полис в удобное для вас время и место</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="b-features__item i5">
                    <h2>Расчет стоимости</h2>
                    <p>У вас есть возможность рассчитать стоимость выбранной вами страховки в любое время. Расчет происходит в режиме онлайн.</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="b-features__item i6">
                    <h2>Сравнение цен и условий</h2>
                    <p>На нашем сайте вы сможете быстро сравнить цены и условия страхования, предлагаемые различными страховыми компаниями.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-help">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-7  col-sm-6 col-sm-offset-3 col-xs-12">
                <div class="b-help__content">
                    <h2>Мы поможем Вам!</h2>
                    <ul class="b-help__list">
                        <li>быстро сравнить все возможные условия страхования от компаний РФ</li>
                        <li>выбрать самое выгодное предложение</li>
                        <li>заказать полис, не отрываясь от компьютера</li>
                    </ul>
                    <div class="b-help__calc">
                        <a class="pr-calcbtn pr-calcbtn_green" href="calc_osago.html">Рассчитать страховку</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@@include('blocks/_b-footer.html')
