@@include('blocks/_b-header.html')
@@include('blocks/_inneer-header.html')
@@include('blocks/_b-pagehead.html', {
"modclass": "",
"title": "Текстовая страница"
})
<div class="b-page b-page_text">
    <div class="container b-text">
        <p><strong>Риск</strong> – это ответственность. Самый большой риск, а значит и самая большая ваша ответственность, это повреждение чужого имущества или причинение вреда жизни и здоровью людей. Машины, дорожные ограждения, знаки, остановки, различные строения, все это может оказаться поврежденным в результате ДТП, не говоря уже о здоровье людей.</p>
        <p>Защитить вас от претензий со стороны владельцев поврежденного имущества или пострадавших в ДТП людей, поможет полис обязательного страхования автогражданской ответственности (ОСАГО).</p>
        <p>Размер выплаты (лимит ответственности) по полису ОСАГО установлен федеральным законом «Об обязательном страховании гражданской ответственности владельцев транспортных средств». С 1 октября 2014 года вступила в силу новая редакция Закона, которая, в том числе, установила новые размеры выплаты по ОСАГО.</p>
        <h4>По полисам ОСАГО с датой начала действия до 1 октября 2014:</h4>
        <ul class="b-text__square">
            <li>До 120 000 рублей при повреждении транспортного средства или имущества одного потерпевшего;</li>
            <li>До 160 000 рублей при повреждении транспортных средств или имущества нескольких потерпевших (выплачивается пропорционально);</li>
            <li>До 160 000 рублей в случае причинения ущерба жизни или здоровью каждому пострадавшему.</li>
        </ul>
        <h4>По полисам ОСАГО с датой начала действия с 1 октября 2014:</h4>
        <ul class="b-text__square">
            <li>До 120 000 рублей при повреждении транспортного средства или имущества одного потерпевшего;</li>
            <li>До 160 000 рублей при повреждении транспортных средств или имущества нескольких потерпевших (выплачивается пропорционально);</li>
        </ul>
    </div>
</div>
@@include('blocks/_b-footer.html')